{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Password reset complete{% endblock %}
{% block content %}

<p>Your new password has been set. You may now log in using it.</p>

<a id="passwordresetbutton" class="btn btn-primary" href="{% url 'login' %}">
    Log in
</a>

{% endblock %}


<!--
<h5>User login</h5>
<form method="post">
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    {{ form.source.errors }}
    {{ form.source }}


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="width: 160px;">User name</span>
        </div>
        {% if form.username.errors or form.username.value == "" %}
        {% render_field form.username class="form-control is-invalid" placeholder="Enter an authorised username" autofocus="autofocus" required="required" aria-describedby="basic-addon1" %}
        {% for error in form.username.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% else %}
        {% render_field form.username class="form-control is-valid" placeholder="Enter an authorised username" autofocus="autofocus" required="required" aria-describedby="basic-addon1" %}
        {% endif %}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2" style="width: 160px;">Password</span>
        </div>
        {% if form.password.errors or form.password.value == "" %}
        {% render_field form.password class="form-control is-invalid" placeholder="Enter the corresponding password" required="required" aria-describedby="basic-addon2" %}
        {% for error in form.password.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% else %}
        {% render_field form.password class="form-control is-valid" placeholder="Enter the corresponding password" required="required" aria-describedby="basic-addon2" %}
        {% endif %}
    </div>

    <!-    form.as_p ->

    <button id ="loginbutton" class="btn btn-primary" style="margin-left: 128px;" type="submit">Press return or enter, or click this button to log in
    </button>
</form>
-->
