{% extends 'base.html' %}
{% load humanize %}
{% load template_filters %}

{% comment %}
    Based on code at https://bootsnipp.com/snippets/7kPl
{% endcomment %}

{% block header %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <style>
        {% include "includes/timeline.css" %}
    </style>
{% endblock %}

{% block title %}
{{pac_profile.user.first_name}} {{pac_profile.user.last_name}}'s timeline
{% endblock %}

{% block content %}

<a class="btn btn-primary btn-block" href="{% url 'pac_details' pac_profile.id %}">
    Show {{pac_profile.user.first_name}} {{pac_profile.user.last_name}}'s summary
</a>
<br />
<div class="container">
    <ul class="timeline">

        {% for mood in moods %}
        {% with onemood=mood.current_mood positivity=mood_positivity_lookup|lookup:mood.current_mood %}
        {% if positivity < 0 %}
        <li>
        {% else %}
        <li class="timeline-inverted">
        {% endif %}
            <div
            {% if positivity == -2 %}
            class="timeline-badge danger" style="color: black; text-shadow: 0 0 10px white;"
            {% elif positivity == -1 %}
            class="timeline-badge warning" style="color: black; text-shadow: 0 0 10px white;"
            {% elif positivity == 0 %}
            class="timeline-badge info" style="color: black; text-shadow: 0 0 10px white;"
            {% elif positivity == 1 %}
            class="timeline-badge primary" style="color: black; text-shadow: 0 0 10px white;"
            {% elif positivity == 2 %}
            class="timeline-badge success" style="color: black; text-shadow: 0 0 10px white;"
            {% else %}
            class="timeline-badge" style="text-shadow: 0 0 10px black;"
            {% endif %}
            >
                {{mood_icon_lookup|lookup:onemood|safe}}
            </div>
            <div class="timeline-panel bg-white">
                <div class="timeline-heading">
                    <h4
                    {% if positivity == -2 %} class="timeline-title text-danger"
                    {% elif positivity == -1 %} class="timeline-title text-warning"
                    {% elif positivity == 0 %} class="timeline-title text-info"
                    {% elif positivity == 1 %} class="timeline-title text-primary"
                    {% elif positivity == 2 %} class="timeline-title text-success"
                    {% else %} class="timeline-title"
                    {% endif %}
                    >
                        {{mood_lookup|lookup:onemood|capfirst}}
                        <span class="text-muted" style="font-size:small;">
                            (Positivity {{positivity}},&nbsp;
                            Activity {{mood_activity_lookup|lookup:onemood}})
                        </span>
                    </h4>
                </div> <!-- class="timeline-heading" -->

                <div class="timeline-body">
                    <p>
                        <i class="far fa-calendar"></i>&nbsp;{{mood.time}}
                        <span class="text-muted">
                            <!--<i class="far fa-clock"></i>&nbsp;-->
                            ({{mood.time|naturaltime}})
                        </span>
                    </p><!-- mood date/time -->

                    {% if mood.include_wellbeing %}
                        <p>
                            <i class="far fa-clock"></i>&nbsp;Hours spent:
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-bed"></i>&nbsp;<strong>{{mood.hours_bed}}</strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-couch"></i>&nbsp;<strong>{{mood.hours_sofa}}</strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-blender"></i>&nbsp;<strong>{{mood.hours_kitchen}}</strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-seedling"></i>&nbsp;<strong>{{mood.hours_garden}}</strong>
                        </p> <!-- Hours spent -->
                        <p>
                            Wellbeing: <strong>{{mood.wellbeing}}</strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Loneliness: <strong>{{mood.loneliness}}</strong>
                        </p> <!-- Wellbeing & loneliness -->
                        <p>
                            {% if mood.spoketosomeone %}
                                Spoke to <strong>{{mood.spoketosomeone_who}}</strong>.
                            {% else %}
                                Spoke to <strong>nobody</strong>.
                            {% endif %}
                        </p> <!-- Spoke to someone -->
                        {% if pastimes|lookup:mood.id %}
                                <hr>
{% comment %}
<!--                            Pastimes for mood {{mood.id}}:<br />-->
<!--                            {{pastimes|lookup:mood.id|safe}}-->
{% endcomment %}
                            {% for onepastime in pastimes|lookup:mood.id %}
                            <p>
                                <strong>{{onepastime.whatdoing}}</strong>
                                {% if onepastime.whowith %}
                                    with <ul>
                                    {% for onesupporter in onepastime.whowith %}
                    <li>{{onesupporter.first_name}}&nbsp;{{onesupporter.last_name}}</li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    (alone)
                                {% endif %}
                            </p>
                            {% endfor %}
                        {% else %}
                            No pastimes specified.<br />
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>
        {% endwith %}
        {% endfor %}  <!-- for mood in moods -->
    </ul>
</div>


{% comment %} <!--Example list code for reference-->
<div class="container">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>
    <ul class="timeline">

        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">inverted</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">panel</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">inverted</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">panel</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">timeline-panel</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">timeline-inverted</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
    </ul>
</div>
{% endcomment %}

{% if debugmessage %}
<hr>
<h5>Debugging message (not normally visible)</h5>
{{debugmessage}}
{% endif %}

{% endblock %}
